<%- include('includes/header') %>

<%- include('includes/nav-bar') %>

	<div class="container">
	  <div class="starter-template">
		<h1>Bienvenido <%= user.name %></h1>
		<p class="lead">Aqui apareceran las computadoras</p>
	  </div>
	</div><!-- /.container -->

<%- include('includes/footer') %>