<%- include('includes/header') %>

<%- include('includes/nav-bar') %>

	<div class="container">
	  <div class="starter-template">
		<h1>Bienvenido <%= user.fname %></h1>
		<p class="lead">Aqui aparecere un resumen</p>
	  </div>
	</div><!-- /.container -->

<%- include('includes/footer') %>