<%- include('includes/header') %>

<div class="container reg-page">
    <%- messages() %>
      <form method="post" action="/users/login" class="form-signin">
        <h2 class="form-signin-heading text-center">Inicio de sesion</h2>
        <label class="sr-only">Usuario:</label>
        <input type="text" name="username" class="form-control" placeholder="Correo" required autofocus>
        <br>
        <label class="sr-only">Contraseña:</label>
        <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesion</button>
      </form>
    </div> <!-- /container -->

<%- include('includes/footer') %>