<%- include('includes/header') %>

<%- include('includes/nav-bar') %>

	<div class="container">
	  <div class="starter-template">
		<h1>Bienvenido <%= user.name %></h1>
		<p class="lead">Aqui apareceran los usuarios</p>
		<br>
		<a class="btn btn-primary" href="/users/register">Registrar usuario</a>
	  </div>
	</div><!-- /.container -->

<%- include('includes/footer') %>